body {
  font-family: 'San Francisco', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.MuiTextField-root {
  margin-bottom: 16px;
}

.MuiButton-root {
  margin-top: 16px;
}
